* {margin: 0; padding: 0;}

#base {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.root {
  width: 926px;
  height: 428px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}