
#base {

  & > .root {

    align-items: flex-end;

    & > .guide {
      width: 92%;
      height: 358px; // 상단바 높이 60px, 10px마진남기기 위해 그리드 전체화면 높이 - 70px (나중에 js로 전체제어 생각해볼것)
      border: 1px solid blue;
      position: absolute;
      z-index: 2;
      
      & > .main-gacha {
        width: 70%;
        height: 100%;
        background-color: aquamarine;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        & > div:nth-child(1) {
          width: 100%;
          height: 28%;
          border: 1px solid red;
          position: absolute;
          z-index: 3;
          bottom: 0%;
          display: flex;
          justify-content: center;
          align-items: center;

          & > div {
            width: 66%;
            height: 100%;
            border: 1px solid #ecce23;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;

            & > div {
              width: 40%;
              height: 80%;
              background-color: #0e5f92;
              border-radius: 10px;
            }

            & > .gch-btn-2 {
              background-color: #1c8235;
            }
          }
        }

        & > div:nth-child(2) {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          display: flex;

          & > .move-arrow {
            width: 12%;
            height: 100%;
            border: 1px solid #0e5f92;
            display: flex;
            justify-content: flex-start;
            align-items: center;
  
            & > div {
              width: 70%;
              height: 60%;
              background-color: #ffc12f;
  
            }
          }
  
          & > div:nth-child(3) {
            justify-content: flex-end;
  
            & > div {
              background-color: #ff2f66;
            }
          }
  
          & > div:nth-child(2) {
            width: 66%;
            height: 100%;
            border: 1px solid salmon;
            display: flex;
            justify-content: center;
            align-items: center;
  
            & > .main-gch-object {
              width: 60%;
              height: 64%;
              border: 1px solid #3d2fff;
              border-radius: 100%;
            }
            
          }

        }

      }
    }

    & > .bgone {
      width: 96%;
      height: 100%;
      border: 1px solid red;
      position: relative;
      background-color: #ac81e4;
      z-index: 0;
      left: -10%;
      display: flex;

      & > .book-paper {
        width: 84%;
        height: 100%;
        border: 1px solid #ffc12f;
        position: relative;
        z-index: 1;
      }

      & > .side-menu {
        width: 18%;
        height: 80%;
        background-color: #1c8235;
        position: absolute;
        right: 0%;
        bottom: 0%;
      }
    }
  }
}